.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 80%; /* Set a maximum width for the container */
    margin: 20vh auto 0; 

    /* border: 2px solid #000; */

  }

  

  
  .bordered-wrapper {
    border: 2px solid  #FFA500; 
    border-radius: 10px; /* Make the border round by specifying a border radius */

    padding: 50px 200px; /* Add padding to give some space inside the wrapper */
    background-color: #f2f2f2; /* Light gray background color */
}

  
  
  .content {
    /* margin-bottom: 20px; */
    /* border: 2px solid #000; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .QRCode {
    border-radius: 10px; /* Add border-radius to make it circular */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Add box-shadow for depth */
}












.button-container {
    position: fixed;
    top: 20px; /* Adjust top positioning as needed */
    right: 20px; /* Adjust right positioning as needed */
    border-radius: 7px;


}

.button {

    padding: 10px 15px;
    background-color: #e53008; /* Example background color */
    color: black;
    border: 1px solid #e53008;
    font-size: 18px;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Add shadow */
    transition: box-shadow 0.3s ease; /* Add transition for smooth effect */
}

.button:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4); /* Increase shadow on hover */
    background-color: white; /* Example background color */

}

.button:active {
    transform: translateY(-2px); /* Move the button 4 pixels up */


}

.cont {
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* Align items to the left */
  }

  .qr-code {
    /* Set default size */
    width: 500px;
    height: 500px;
  }

  /* @media screen and (max-width: 400px) {
    .bordered-wrapper {
        padding: 10px 10px;

    }
  
  } */

  @media screen and (max-width: 700px) {
    .bordered-wrapper {
        padding: 30px 50px; /* Add padding to give some space inside the wrapper */

    }

    h4{
        font-size: 20px; /* Font size based on viewport width */

    }
  
  }